



 <!--  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag destination.cover.url(:thumb) %>
      <div class="caption">
        <h3><%= link_to destination.place, destination %></h3>
        <p><%= truncate(destination.place, length:20) %></p> 
        <p><a href="#" class="btn btn-primary" role="button">Read More...</a> <a href="#" class="btn btn-default" role="button">Button</a></p> 
      </div>
    </div>
  </div> -->

<div class="col-md-4 col-sm-5 demo-2">
          
      <ul class="grid cs-style-2">
        <li>
          <figure>
          <span class="coverdestine">
          <h3><%= destination.place %></h3>
          </span>
            <%= image_tag destination.cover.url(:thumb) %>
            <figcaption>
              
              
              <h3><%= link_to "Know destination", destination %></h3>
            </figcaption>
          </figure>
        </li>
      </ul>
</div><!-- /container -->
    <script src="js/toucheffects.js"></script>
